<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.charge.mapping.ClientMapper">
	<select id="getById" resultType="Client">
		select * from tClient where Id = #{id}
	</select>
	<select id="getByName" resultType="Client">
		select * from tClient where UserName= #{userName}
	</select>
	<select id="getByOpenId" resultType="Client">
		select * from tClient where PublicOpenId= #{publicOpenId}
	</select>
	
	<insert id="save" parameterType="Client" useGeneratedKeys="true" keyProperty="id">
  		insert into tClient(UserName, SessionId, PhoneNum, Balance, Gender, Password,PublicOpenId ) 
  			values(#{userName}, #{sessionId},#{phoneNum},#{balance},#{gender},#{password}, #{publicOpenId})
	</insert>
	
	<update id="update" parameterType="Client" >
  		update  tClient set PhoneNum =#{phoneNum},PublicOpenId = #{publicOpenId},Gender = #{gender}, Signature = #{signature} where Id = #{id}
	</update>
	
	<select id="updateBalance" resultType = "Integer">
		select fnUpdateClientBalance(#{clientId},#{totalFee}) from dual
	</select>
</mapper>