<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.charge.mapping.StationMapper">
	<insert id="save" parameterType="Station" useGeneratedKeys="true" keyProperty="id">
		Insert Into 
		tStation(CreatedDateTime, StationName, Latitude, Longitude,ProvinceName, ProvinceCode, CityName,CityCode,StreetName,HasDeleted, UpdateDateTime) 
			Value
		(#{createdDateTime}, #{stationName},#{latitude},#{longitude},#{provinceName},#{provinceCode},#{cityName},#{cityCode},#{streetName},0 ,#{updateDateTime})
	</insert>
	
	<select id="getById" resultType="Station">
		Select * from tStation where Id = #{id}
	</select>
	
	<update id="deleted" parameterType = "Station">
		update tStation set HasDeleted = 1 Where Id = #{id}
	</update>
	
	<update id="updated" parameterType="Station" >
		update tStation
		set CreatedDateTime = #{cretedDateTime}, StationName =#{stationName}, Latitude =#{latitude}, 
		Longitude = #{longitude},ProvinceName = #{provinceName}, ProvinceCode =#{provinceCode}, CityName =#{cityName},
		CityCode = #{cityCode},StreetName =#{StreetName},HasDeleted= #{hasDeleted}, UpdateDateTime =#{updateDateTime} Where Id = #{id}
	</update>
	
	<select id="getPageSerache" resultType="Station">
		select * from tStation where HasDeleted = 0 
		<if test="stationName != null ">
		and StationName like "%#{stationName}%"
		</if>
		limit #{pageIndex},#{pageSize}
	</select>
	
	<select id="getByName" resultType="Station">
		select * from tStation where StationName = #{stationName} 
	</select>
</mapper>
