<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.charge.mapping.UserMapper">
	<select id="getById" resultType="User">
		select * from tUser where Id = #{id}
	</select>
	<select id="getByName" resultType="User">
		select * from tUser where UserName= #{userName}
	</select>
	
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
  		insert into tUser(UserName,  PhoneNum,  Password) 
  			values(#{userName},#{phoneNum},#{password})
	</insert>
</mapper>