<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.charge.mapping.DeviceMapper">
	
	<select id="getById" resultType="Device">
		select * from tDevice where Id = #{id}
	</select>
	<select id="getByDeviceSn" resultType="Device">
		select * from tDevice where DeviceSn= #{deviceSn} and HasDeleted = 0
	</select>
	
	<insert id="save" parameterType="Device" useGeneratedKeys="true" keyProperty="id">
  		insert into tDevice(CreatedDateTime, DeviceName, DeviceSn, LastOperatorTime, DeviceStatus, StationId, HasDeleted) 
  			values(#{createdDateTime},#{deviceName},#{deviceSn},#{lastOperatorTime},#{deviceStatus},#{stationId}, #{hasDeleted})
	</insert>
	
	<update id = "updateStatus" parameterType = "Device" >
		update tDevice set DeviceName= #{deviceName}, DeviceStatus = #{deviceStatus} where DeviceSn = #{deviceSn}
	</update>

	<update id = "deleted" parameterType = "Device" >
		update tDevice set HasDeleted = 1 where DeviceSn = #{deviceSn}
	</update>
	
	<select id="getByAll" resultType="Device">
		select * from tDevice where  HasDeleted = 0
	</select>
		<select id="getPageSerache" resultType="Device">
		select * from tDevice where HasDeleted = 0 
		<if test="stationId != null ">
		and StationId = #{stationId}
		</if>
		limit #{pageIndex},#{pageSize}
	</select>
	
</mapper>