<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.charge.mapping.MicroPayMapper">
	<select id="getId" resultType="MicroPay">
		select * from tMicroPay where Id = #{id}
	</select>
	<insert id="save" parameterType="MicroPay" useGeneratedKeys="true" keyProperty="id">
  		insert into tMicroPay(Id, TradingLogId, TradingSn, CreatedDateTime, IsChecked1, IsChecked, AppId, 
	  		MchId, DeviceInfo, NonceStr, Sign, Sign1, ResultCode1, ErrCode1, ErrCodeDes1,ResultCode2, ErrCode2, 
	  		ErrCodeDes2, OpenId, IsSubscribe, TradeType, BankType, TotalFee, FeeType, CashFee, CashFeeType,
	  		CouponFee, CouponCount, TransactionId, Attach, TimeEnd, TradeState, TradeStateDes ) 
		values(#{id}, #{tradingLogId},#{tradingSn},#{createdDateTime},#{isChecked1},#{isChecked},#{appId},
		#{mchId}, #{deviceInfo}, #{nonceStr}, #{sign}, #{sign1}, #{resultCode1}, #{errCode1}, #{errCodeDes1},#{resultCode2}, #{errCode2}, 
	  	#{errCodeDes2}, #{openId}, #{isSubscribe}, #{tradeType}, #{bankType}, #{totalFee}, #{feeType}, #{cashFee}, #{cashFeeType},
	  	#{couponFee}, #{couponCount}, #{transactionId}, #{attach}, #{timeEnd}, #{tradeState}, #{tradeStateDes} )
	</insert>
	<select id="getTradingId" resultType="MicroPay">
		select * from tMicroPay where TradingLogId = #{tradingLogId}
	</select>
	<select id="getTradingSn" resultType="MicroPay">
		select * from tMicroPay where TradingSn = #{tradingSn}
	</select>
</mapper>